AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
KINESIS_STREAM_NAME=
SHARD_ITERATOR_TYPE=
MAX_RECORDS_PER_READ=

POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

RAW_BATCH_SIZE=
PROCESSOR_SLEEP_SECONDS=
COLLECTOR_SLEEP_SECONDS=
BUSINESS_TIMEZONE=
